<a href="https://colab.research.google.com/github/jorgel-mendes/Portifolio_Recommender_Codenation/blob/master/notebooks/Recommender_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final challenge codenation
Last challenge for the codenation acceleration and a demonstration of my knowledge with an end to end data science project. 

Here the recommendation model is demonstrated in two ways. First it is run directly on the notebook, with the function called from github and the full market dataset.

And then the model is also called from IBM cloud function through a HTTP post request. A reduced market dataset is used for this example.

## Full market implementation

In [2]:
!wget https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/master/scr/model.py

import pandas as pd
import numpy as np
from model import get_recommendations

--2020-10-29 00:46:41--  https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/master/scr/model.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3889 (3.8K) [text/plain]
Saving to: ‘model.py’

model.py            100%[===================>]   3.80K  --.-KB/s    in 0s

2020-10-29 00:46:41 (56.1 MB/s) - ‘model.py’ saved [3889/3889]

In [3]:
from requests import get
from zipfile import ZipFile
from io import BytesIO

remotezip = get("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_market.csv.zip")
root = ZipFile(BytesIO(remotezip.content))
market_initial =  pd.read_csv(root.open('estaticos_market.csv')) 

portifolio2 = pd.read_csv("https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/dev/data/estaticos_portfolio2.csv")

portifolio_test = portifolio2[0:100]

In [ ]:
recommended_values = get_recommendations(portifolio_test, 100, market_initial)

In [ ]:
recommended_values.head()

        Unnamed: 0  ... qt_filiais
281417      281417  ...          0
112687      112687  ...          0
297247      297247  ...          2
366551      366551  ...          0
401371      401371  ...          0

[5 rows x 182 columns]

In [ ]:
values_in_portifolio = np.intersect1d(portifolio2['id'], recommended_values['id']).shape[0]
print(values_in_portifolio, "values were in the portifolio.")

22 values were in the portifolio.

## Demo implementation

In [ ]:
try:
  portifolio2
except:
  portfolio2 = pd.read_csv("https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/dev/data/estaticos_portfolio2.csv")

portifolio_demo = {'id': portifolio2.loc[:100, 'id'].to_dict(),
 'n_recommendations': 50}

In [ ]:
import requests
import json

headers = {
    'Content-Type': 'application/json',
}

data = json.dumps(portifolio_demo)

response = requests.post('https://us-south.functions.appdomain.cloud/api/v1/web/jorgel.mendes%40hotmail.com_dev/default/portifolio_recommender.json', headers=headers, data=data)

id_recommended_companies = pd.Series(response.json()['id'], name = 'id')

In [ ]:
market_demo = pd.read_csv('https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/dev/data/market_demo.csv')
recommended_companies = market_demo[market_demo['id'].isin(id_recommended_companies)]
recommended_companies.head()

     Unnamed: 0  Unnamed: 0.1  ... tx_rotatividade  qt_filiais
101       67692         67692  ...        0.000000           0
152      108941        108941  ...        0.000000           0
153      109311        109311  ...        0.000000           0
154      109461        109461  ...        0.000000           0
163      118409        118409  ...       52.666667           2

[5 rows x 183 columns]