<a href="https://colab.research.google.com/github/jorgel-mendes/Portifolio_Recommender_Codenation/blob/master/Recommender_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Desafio final codenation
Esta é a minha solução para o desafio final da codenation, com um algoritmo de recomendação para possíveis leads.

A recomendação é feita baseada em distância. São alimentados algumas empresas do portifólio do cliente para o modelo e então empresas mais próximas são indicadas como possíveis leads.

O modelo utiliza as bibliotecas pandas, numpy scikit-learn e para pré processamento e criação do modelo.

Os resultados foram feitos no Google Colab por limitações de hardware.

Nesse notebook são utilizados os dados do portifólio 2 para demonstração do problema.

In [3]:
!wget https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/master/Modelo_desafio_final.py

import pandas as pd
from Modelo_desafio_final import *

--2020-08-26 02:15:39--  https://raw.githubusercontent.com/jorgel-mendes/Portifolio_Recommender_Codenation/master/Modelo_desafio_final.py
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3522 (3.4K) [text/plain]
Saving to: ‘Modelo_desafio_final.py.2’

Modelo_desafio_fina 100%[===================>]   3.44K  --.-KB/s    in 0s

2020-08-26 02:15:39 (46.7 MB/s) - ‘Modelo_desafio_final.py.2’ saved [3522/3522]

In [6]:
from requests import get
from zipfile import ZipFile
from io import BytesIO

remotezip = get("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_market.csv.zip")
root = ZipFile(BytesIO(remotezip.content))
market_initial =  pd.read_csv(root.open('estaticos_market.csv')) 

portifolio2 = pd.read_csv("https://codenation-challenges.s3-us-west-1.amazonaws.com/ml-leads/estaticos_portfolio2.csv")

portifolio_test = portifolio2[0:100]

In [7]:
recommended_values = get_recommendations(portifolio_test, 100, market_initial)

In [10]:
recommended_values.head()

        Unnamed: 0  ... qt_filiais
281417      281417  ...          0
112687      112687  ...          0
297247      297247  ...          2
366551      366551  ...          0
401371      401371  ...          0

[5 rows x 182 columns]

In [9]:
values_in_portifolio = np.intersect1d(portifolio2['id'], recommended_values['id']).shape[0]
print(values_in_portifolio, "valores estavam no portifólio inicial")

22 valores estavam no portifólio inicial

Mais linhas levam a uma melhor performance no modelo.

Possíveis melhorias:
* Testar outros métodos de distância;
* Melhorar o método de escolha;
* Melhorar pré processamento;
* Otimizar PCA;